<div id="gist-inbox">
    <style>
      #gist-inbox-component {
        display: none;
        position: fixed;
        right: 20px;
        bottom: 20px;
        width: 48px;
        height: 48px;
        background-color: #3168ff;
        border-radius: 30px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        z-index: 9999999999;
        transition: all .2s ease-in-out;
      }

      #gist-inbox-component:hover {
        background-color:#1e5aff;
        transform: scale(1.1);
      }

      #gist-inbox-component .bubble svg {
        display: flex;
        width: 24px;
        height: 24px;
      }

      #gist-inbox-message-list {
        display: none;
        position: fixed;
        right: 20px;
        bottom: 20px;
        background-color: #ffffff;
        max-width: 340px;
        border: 1px solid #dcdcdc;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 8px;
        z-index: 99999999999;
      }

      #gist-inbox-message-list .message-list {
        overflow-x: auto;
        max-height: 500px;
      }

      #gist-inbox-message-list a {
        text-decoration: none;
        color: #3b3b3b;
      }

      #gist-inbox-message-list .message {
        position: relative;
        margin: 16px;
      }

      #gist-inbox-message-list .message a:hover {
        color: #3168ff;
        cursor: pointer;
      }

      #gist-inbox-message-list .message .bin {
        background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjEwIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMS41Ii8+CjxwYXRoIGQ9Ik04LjUgMTIuNUwxMC41IDE0LjVMMTUuNSA5LjUiIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4=");
        background-size: 20px 20px;
        position: absolute;
        right: 5px;
        top: 5px;
        width: 20px;
        height: 20px;
        visibility: hidden;
      }

      #gist-inbox-message-list .message:hover .bin {
        visibility: visible;
      }

      #gist-inbox-message-list .message:hover .bin:hover {
        background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMjIgMTJDMjIgMTcuNTIyOCAxNy41MjI4IDIyIDEyIDIyQzYuNDc3MTUgMjIgMiAxNy41MjI4IDIgMTJDMiA2LjQ3NzE1IDYuNDc3MTUgMiAxMiAyQzE3LjUyMjggMiAyMiA2LjQ3NzE1IDIyIDEyWk0xNi4wMzAzIDguOTY5NjdDMTYuMzIzMiA5LjI2MjU2IDE2LjMyMzIgOS43Mzc0NCAxNi4wMzAzIDEwLjAzMDNMMTEuMDMwMyAxNS4wMzAzQzEwLjczNzQgMTUuMzIzMiAxMC4yNjI2IDE1LjMyMzIgOS45Njk2NyAxNS4wMzAzTDcuOTY5NjcgMTMuMDMwM0M3LjY3Njc4IDEyLjczNzQgNy42NzY3OCAxMi4yNjI2IDcuOTY5NjcgMTEuOTY5N0M4LjI2MjU2IDExLjY3NjggOC43Mzc0NCAxMS42NzY4IDkuMDMwMzMgMTEuOTY5N0wxMC41IDEzLjQzOTNMMTIuNzM0OCAxMS4yMDQ1TDE0Ljk2OTcgOC45Njk2N0MxNS4yNjI2IDguNjc2NzggMTUuNzM3NCA4LjY3Njc4IDE2LjAzMDMgOC45Njk2N1oiIGZpbGw9IiMwMDAwMDAiLz4KPC9zdmc+");
        background-size: 20px 20px;
        cursor: pointer;
        visibility: visible;
        fill: blue;
      }

      #gist-inbox-message-list .spacer {
        display: block;
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }

      #gist-inbox-message-list .message-desc {
        font-size: 14px;
        font-weight: 400;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }

      #gist-inbox-message-list .message-title {
        font-size: 14px;
        font-weight: 800;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }

      #gist-inbox-message-list .message-image img, #gist-inbox-message-list .message-image iframe {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
      }

      #gist-inbox-message-list .header {
        font-size: 16px;
        font-weight: 800;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }

      #gist-inbox-message-list .close {
        position: absolute;
        right: 16px;
        top: 16px;
        cursor: pointer;
      }

      #gist-inbox-message-list .close img {
        width: 20px;
        height: 20px;
        padding-top: 2px;
      }
    </style>
    <div id="gist-inbox-component" onclick="Gist.showMessageInboxComponent()">
        <div class="bubble">
            <svg width="448" height="512" viewBox="0 0 448 512" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_225_2)">
                <path d="M256 32V51.2C329 66.03 384 130.6 384 208V226.8C384 273.9 401.3 319.2 432.5 354.4L439.9 362.7C448.3 372.2 450.4 385.6 445.2 397.1C440 408.6 428.6 416 416 416H31.9998C19.3998 416 7.97076 408.6 2.80876 397.1C-2.35324 385.6 -0.28854 372.2 8.08376 362.7L15.4998 354.4C46.7398 319.2 63.9998 273.9 63.9998 226.8V208C63.9998 130.6 118.1 66.03 192 51.2V32C192 14.33 206.3 0 224 0C241.7 0 256 14.33 256 32ZM224 512C207 512 190.7 505.3 178.7 493.3C166.7 481.3 160 464.1 160 448H288C288 464.1 281.3 481.3 269.3 493.3C257.3 505.3 240.1 512 224 512Z" fill="white"/>
                </g>
                <defs>
                <clipPath id="clip0_225_2">
                <rect width="448" height="512" fill="white"/>
                </clipPath>
                </defs>
            </svg>                
        </div>
    </div>
    <div id="gist-inbox-message-list">
      <div class="header">
        <div>Notifications</div>
        <div class="close" onclick="Gist.hideMessageInboxComponent()"><img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZmlsbD0ibm9uZSIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTYuMjI1MyA0LjgxMTA4QzUuODM0NzcgNC40MjA1NiA1LjIwMTYxIDQuNDIwNTYgNC44MTEwOCA0LjgxMTA4QzQuNDIwNTYgNS4yMDE2MSA0LjQyMDU2IDUuODM0NzcgNC44MTEwOCA2LjIyNTNMMTAuNTg1OCAxMkw0LjgxMTE0IDE3Ljc3NDdDNC40MjA2MiAxOC4xNjUyIDQuNDIwNjIgMTguNzk4NCA0LjgxMTE0IDE5LjE4ODlDNS4yMDE2NyAxOS41Nzk0IDUuODM0ODMgMTkuNTc5NCA2LjIyNTM1IDE5LjE4ODlMMTIgMTMuNDE0MkwxNy43NzQ3IDE5LjE4ODlDMTguMTY1MiAxOS41Nzk0IDE4Ljc5ODQgMTkuNTc5NCAxOS4xODg5IDE5LjE4ODlDMTkuNTc5NCAxOC43OTg0IDE5LjU3OTQgMTguMTY1MiAxOS4xODg5IDE3Ljc3NDdMMTMuNDE0MiAxMkwxOS4xODkgNi4yMjUzQzE5LjU3OTUgNS44MzQ3NyAxOS41Nzk1IDUuMjAxNjEgMTkuMTg5IDQuODExMDhDMTguNzk4NSA0LjQyMDU2IDE4LjE2NTMgNC40MjA1NiAxNy43NzQ4IDQuODExMDhMMTIgMTAuNTg1OEw2LjIyNTMgNC44MTEwOFoiIGZpbGw9ImN1cnJlbnRDb2xvciIvPjwvc3ZnPg==" /></div>
      </div>
      <div class="message-list">
        ${messages}
      </div>
    </div>
</div>